<!DOCTYPE html>
<html>
  <head>

    <title>{{taskid}} Instructions</title>
    <meta charset="utf-8">
    <style type="text/css">
{{css}}
    </style>

    <script type="text/javascript">
{{js}}
    </script>

  </head>
  <body class="instructions">

    {% include 'instructions.j2' %}

  </body>
</html>
