<!DOCTYPE html>
<html>
  <head>

    <title>{{report.taskid}} Feedback</title>
    <meta charset="utf-8">
    <style type="text/css">
      {{report.css}}
    </style>

    <script type="text/javascript">
      {{report.js}}
    </script>

  </head>
  <body class="feedback">

      {% include 'report.j2' %}

  </body>
</html>
