<section class="snippet" id="snippet:run"><div class="snippet_title"><p>Full output example</p></div>
<p>An example of what the output should look like when your code is run. Note that the blue text shows what inputs were provided in this example.</p>
<pre><span class="prompt">In [ ]:</span> <code class="magic">%run process.py</code>
<span class="printed">A or B? <span class="input">A</span>
D
A or B? <span class="input">B</span>
D, B, A
</span></pre>
</section>