<section class="snippet" id="snippet:grep"><div class="snippet_title"><p><code>grep</code> examples</p></div>
<p>These examples show how <code>grep</code> should work on the birds and fish
lists provided with the starter code.</p>
<pre><span class="prompt input">In []:</span><div class="snippet-input"><code class="highlight"><span></span><span class="n">grep</span><span class="p">(</span><span class="s1">&#39;birds.txt&#39;</span><span class="p">,</span> <span class="s1">&#39;er&#39;</span><span class="p">,</span> <span class="s1">&#39;birds.txt.er&#39;</span><span class="p">)</span>
</code></div>
<span class="prompt special">File</span><div class="snippet-filename">birds.txt.er</div>
<div class="snippet-file-contents">tern
tanager
</div>
<span class="prompt input">In []:</span><div class="snippet-input"><code class="highlight"><span></span><span class="n">grep</span><span class="p">(</span><span class="s1">&#39;fish.txt&#39;</span><span class="p">,</span> <span class="s1">&#39;er&#39;</span><span class="p">,</span> <span class="s1">&#39;fish.txt.er&#39;</span><span class="p">)</span>
</code></div>
<span class="prompt special">File</span><div class="snippet-filename">fish.txt.er</div>
<div class="snippet-file-contents">mackerel
angler fish
lantern fish
</div>
<span class="prompt input">In []:</span><div class="snippet-input"><code class="highlight"><span></span><span class="n">grep</span><span class="p">(</span><span class="s1">&#39;dir/mammals.txt&#39;</span><span class="p">,</span> <span class="s1">&#39;er&#39;</span><span class="p">,</span> <span class="s1">&#39;dir/mammals.txt.er&#39;</span><span class="p">)</span>
</code></div>
<span class="prompt special">File</span><div class="snippet-filename">dir/mammals.txt.er</div>
<div class="snippet-file-contents">panther
</div>
</pre>
</section>