<section class="snippet" id="snippet:listFile"><div class="snippet_title"><p><code>listFile</code> examples</p></div>
<p>These examples show how <code>listFile</code> should work on the birds and fish
lists provided with the starter code.</p>
<pre><span class="prompt input">In []:</span><div class="snippet-input"><code class="highlight"><span></span><span class="n">listFile</span><span class="p">(</span><span class="s1">&#39;birds.txt&#39;</span><span class="p">)</span>
</code></div><span class="prompt printed">Prints</span><div class="snippet-printed">1 tern
2 albatross
3 seagull
4 sparrow
5 cardinal
6 oriole
7 robin
8 swallow
9 stork
10 cassowary
11 ostrich
12 chicken
13 tanager
14 goose
15 turkey
16 quail
17 chickadee
18 nuthatch
</div>
<span class="prompt input">In []:</span><div class="snippet-input"><code class="highlight"><span></span><span class="n">listFile</span><span class="p">(</span><span class="s1">&#39;fish.txt&#39;</span><span class="p">)</span>
</code></div><span class="prompt printed">Prints</span><div class="snippet-printed">1 tuna
2 swordfish
3 sawfish
4 sunfish
5 mackerel
6 anchovy
7 flying fish
8 angler fish
9 lantern fish
10 salmon
11 carp
12 catfish
</div>
</pre>
</section>