<section class="snippet" id="snippet:vars"><div class="snippet_title"><p>Correct values</p></div>
<p>These are the answers!</p>
<pre><span class="prompt input">In []:</span><div class="snippet-input"><code class="highlight"><span></span><span class="n">var1</span> <span class="o">=</span> <span class="s1">&#39;val1&#39;</span>
</code></div>
<span class="prompt input">In []:</span><div class="snippet-input"><code class="highlight"><span></span><span class="n">var2</span> <span class="o">=</span> <span class="s1">&#39;val2&#39;</span>
</code></div>
<span class="prompt input">In []:</span><div class="snippet-input"><code class="highlight"><span></span><span class="n">var3</span> <span class="o">=</span> <span class="p">[</span><span class="s1">&#39;val1&#39;</span><span class="p">,</span> <span class="s1">&#39;val2&#39;</span><span class="p">]</span>
</code></div>
<span class="prompt input">In []:</span><div class="snippet-input"><code class="highlight"><span></span><span class="n">var4</span> <span class="o">=</span> <span class="p">[[</span><span class="s1">&#39;val1&#39;</span><span class="p">,</span> <span class="s1">&#39;val2&#39;</span><span class="p">],</span> <span class="p">[</span><span class="o">...</span><span class="p">]]</span>
</code></div>
</pre>
</section>